.content_acceso {
    .list_access{
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        
        &_card{
            background-color: #ebecf0;
            width: calc((100% - 4rem)/3);
            padding: 0.8rem;
            box-shadow: 5px 3px 8px 0px #7a7a7a24, -1px 4px 10px -0px #d8d8d8b8;
            border-radius: 5px 5px 0px 0px;
            height: 100%;

            > p{
                font-weight: bold;
                padding: 0.5rem 0px;
                text-align: center;
                font-size: 1.1rem;
            }
        }
        &_body{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
            border-radius: 5px;
            min-height: 100px;
        }
        &_items{
            background-color: #fff;
            min-height: 50px;
            width: 100%;
            padding: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;

            >div{
                font-size: 0.9rem;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
            }
            hr{
                margin: 0.4rem 0px;
                background-color: #bd0505;
            }
            span{
                font-size: 0.8666rem;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .content_acceso{
        .list_access{
            &_card{
                width: calc((100% - 2rem)/2);
            }
        }
    }
}

@media screen and (max-width: 400px){
    .content_acceso{
        .list_access{
            &_card{
                width: 100%;
            }
        }
    }
}