.cont__control{
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      text-shadow: 0px 0px 2px #d9dfde, 0px 0px 2px #d9dfde, 0px 0px 5px #ebebeb,
        0px 0px 5px #ebebeb, 0px 0px 5px #ebebeb;
    }
  }
  
.content__card{
  display: flex;
  justify-content: center;
  gap: 1.5rem 1.5rem;
  margin: 1rem;
  flex-wrap: wrap;
}