.cont__history {
  width: 100%;
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0px 0px 1.5rem 1.5rem;
    text-shadow: 0px 0px 2px #d9dfde, 0px 0px 2px #d9dfde, 0px 0px 5px #ebebeb,
      0px 0px 5px #ebebeb, 0px 0px 5px #ebebeb;
  }
}
