.dgd_h{
    height: 13vh;
    padding: 0px 20px;

    .dgd_h_bar{
        display: none;
    }
    
    nav{
        height: 100%;
        .item{
        color: #3f3d56;
        height: 100%;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content:space-between;

        & div:nth-child(1){
            img{
                height: 80px;
                mix-blend-mode: darken;
            }

            a{
                font-family: 'DM Sans', sans-serif;
                font-size: 1.3rem;
                span{
                    color: #3f3d56;
                }
            }
        }
        
        
        ul{
            width: 30vw;
            margin: 0px;
            padding: 0px;
            display: flex;
            list-style: none;
            justify-content: space-between;
        }
        a{
            margin: 0px 10px;
            text-decoration: none;
            color: #000;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
    }
    
    .links{
        a{
            color: #333;
        }
        .btn{
            color: #fff;
            background-color: #f7484e
        }
    }
}


.ghsty_s{
    @import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
    
    background-color: #F6F8FB;
    
    >div{
        height: 100vh;
    }
    
    &_l{
        >div{
            height: 100%;
            display: flex;
            div{
                width: 50%;
                &:first-child{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 5rem;
                    letter-spacing: 3px;
                    span{
                        font-family: 'Comforter', cursive;
                    }
                }
                &:nth-child(2){
                    padding: 2.5rem;
                    background-color: #fff;
                }
            }
            
        }
    }
        
    .card_p{
        display: flex;
        justify-content: center;
        align-items: center;        

        .card_h{
            height: 85%;
            width: 85%;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 4px 5px 7px 0px #ccc;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            overflow: hidden;
            
            & >div{
                display: flex;
                align-items: center;
            }
            
            & div:first-child{
                padding: 2rem;                            
                h3{
                    font-size: 2.888rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                    line-height: 1.39;
                    color: #0F2137;
                    font-family: 'DM Sans', sans-serif;
                }
                p{
                    font-family: 'DM Sans', sans-serif;;
                }
            }

            img{
                width: 100%;
            }
        }
    }

    .f_red{
        background-color: #f7484e;
        color: #fff;
    }
    .f_blank{
        background-color: #F6F8FB;
    }
    .f_green{
        background-color: #368cc9;
        color: #fff;
    }
    .f_gray{
        background-color: #292929;
        color: #fff;
    }
}

@media screen and(max-width: 500px){
    
    .dgd_h{
        box-shadow: 4px 3px 7px 0px #ccc;
        background-color: #F6F8FB;
        height: 10vh;
        display: flex;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 99;
        .dgd_h_bar{
            display: block;
        }

        svg{
            font-size: 1.5rem;
            margin-left: 1rem;
            color: #333;
        }

        .item.active{
            display: block;
        }
        nav{
            height: auto;
            .item{
                display: none;
                position: fixed;
                padding: 1rem;
                left: 0px;
                top: 10vh;
                height: 100vh;
                width: 80%;
                flex-direction: column;
                background-color: #F6F8FB;
                margin: 0px;
                overflow: hidden;
                justify-content: start;
                align-items: start;
                z-index: 2;
                box-shadow: 1px 3px 4px 0px #ccc;
                transition: all 0.5 ease;

                & div:nth-child(1){
                    align-self: center;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #ccc;
                }
                
                ul{
                    width: 100%;
                    font-size: 1.1rem;
                    flex-direction: column;
                    margin-top: 2rem;
                    height: 40vh;
                    justify-content: start;
                    
                    li{
                        margin: 2rem 3rem;
                        border-bottom: 1px solid #ccc;
                    }
                }

                .links{
                    border-top: 1px solid #ccc;
                    margin: 2rem 3rem;
                    flex-direction: column;
                    display: flex;
                    justify-content: space-around;
                    height: 20vh;
                    width: 80%;

                    a{
                        margin: 0px;
                    }

                    .btn{
                        padding: 15px;
                    }
                }
            }
        }
    }

    .ghsty_s{
        &_l{
            height: auto !important;
            >div{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                div{
                    width: 100%;
                    &:first-child{
                        height: 10vh;
                        font-size: 2.2rem;
                        overflow: hidden;
                    }
                }
            }
        }

        .card_p{
            .card_h{
                width: 100%;
                height: 100%;
                grid-template-columns: 1fr;
                border-radius: 0px;
                
                & div:first-child{
                    padding: 1.5rem; 

                    h3{
                        font-size: 2.333rem;
                    }
                }
            }
        }
    }
}