@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

.btn-primary{
  background-color: #3f3d56 !important;
  border-color: #3f3d56 !important;
}

input[type=text]:disabled, input[type=password]:disabled {
  background: #fff;
  border: none;
  padding-left: 0px;
}